* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(30, 32, 43);
}
.bg-main-color{
    background-color: rgb(30, 32, 43);
}

.bg-sec-color{
    background-color: rgb(38, 41, 54) ;   
}
.text-color{
    color: #bfc1c8;
}
.find-location {
    position: relative;
    margin-bottom: 70px;
}

.navbar{
    z-index: 9999999;
}
/* .nav-link{
    transition: 0.3s ease;
}
.navbar .nav-item:hover {
    border-radius: 30px;
    border-color: #009ad8;
    color: #009ad8;

} */
.find-location button {
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 50px;
    bottom:5 px; 

    border: none;
    background: #009ad8;
    border-radius: 30px;
    color: white;
}
.subscribe-form button{
    background: #009ad8;
    color: white;
    position: absolute;
    top: px;
    right: 5px;
    width: 100px;
    height: 50px;
    bottom: 5px; 

}
.text-light-blue{
    color: #009ad8;
}

.footer-icons{
    width: 21px;
    height: 21px;
}

.main{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    padding: 70px 0;
}

.footer{
    padding: 50px 0;
}

.icon{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color: rgb(30, 32, 43);
    color: #009ad8;
    transition: all 0.5s;
    
}
.icon:hover{
    background-color:#009ad8 ;
    color: white;
}